$('#approval_page').html('#{ escape_javascript(render :partial => 'issues/approval_page') }');
$('#history').html('#{ escape_javascript(render :partial => 'issues/history', :locals => { :issue => @issue, :journals => @journals }) }');
- if @issue.closed?
  $('p.approval_item input').attr('disabled', 'disabled')
