- approval_issues = ApprovalItem.where(user_id: User.current.id, approved: nil).map(&:approval_issue).compact

%h3
  = "Задачи на согласование"
  = " (#{approval_issues.count})"


= render :partial => 'approval_list_simple', :locals => { :issues => approval_issues, :allows => [:author, :assigned_to] }
